<section id="home-section" class="hero">
    <div class="home-slider  owl-carousel">
    <div class="slider-item ">
        <div class="overlay"></div>
      <div class="container">
        <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
            <div class="one-third js-fullheight order-md-last img" style="background-image:url(images/bg_1.png);">
                <div class="overlay"></div>
            </div>
            <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="text">
                    <span class="subheading">Hello!</span>
                  <h1 class="mb-4 mt-3">I'm <span>Brian Gómez </span> Systems  Engineer <i class="flaticon-innovation"></i></i></h1>
                  <h2 class="mb-4">A Fullstack Developer</h2>
                  <p><a href="#form-contact-me" class="btn btn-primary py-3 px-4">Hire me</a> <a href="#projects-section" class="btn btn-white btn-outline-white py-3 px-4">My works</a></p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="slider-item">
        <div class="overlay"></div>
      <div class="container">
        <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
            <div class="one-third js-fullheight order-md-last img" style="background-image:url(images/bg_2.png);">
                <div class="overlay"></div>
            </div>
            <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="text">
                    <span class="subheading">And also</span>
                  <h1 class="mb-4 mt-3">I'm a <span>programming teacher</span> based in Argentina</h1>
                  <p>
                    <a href="https://www.linkedin.com/in/brian-axcel-g%C3%B3mez-rangel-724716157/" class="btn btn-primary py-3 px-4" target="_blank">Linkedin</a> 
                    <a href="/pdf/brian-gomez-2023.pdf" class="btn btn-white btn-outline-white py-3 px-4" download="">My CV</a>
                  </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>